// Ion-related //
ion-card {
  background-color: #1e1e1e!important;
}

ion-item {
  ion-icon {
    padding: 10px;
    color: #ccffff;
  }
  p {
    color: grey;
    font-size: 14px;
  }
}
ion-header {
  ion-icon {
    position: relative;
    align-content: center;
    font-size: 15px;
  }
}



// End: Ion-related //
