// Ion-related //
ion-content {
  --background: #363636 url("../../../assets/images/app-background.png") no-repeat center center / cover;
}

ion-card {
  background-color: #1e1e1e!important;
}

ion-item {
  ion-icon {
    color: #ccffff;
    font-size: 20px;
    padding-right: 10px;
  }
}

ion-list {
  width:100%;
}

ion-header {
  ion-icon {
    position: relative;
    align-content: center;
    font-size: 15px;
  }
}

ion-thumbnail {
  padding-right: 10px;
  width: 100px;
  height: 100px;
}
ion-item {
  ion-icon {
    color: #ccffff;
    font-size: 20px;
    padding-right: 10px;
  }
}

ion-list {
  width:100%;
}

ion-header {
  ion-icon {
    position: relative;
    align-content: center;
    font-size: 15px;
  }
}

ion-button {
  ion-icon {
    color: #ccffff;
    font-size: 25px;
    padding: 10px;
    position: center;
    display: block;
  }
}

// End: Ion-related //

// Other //
.wrapform {
  margin: 5px;
}
.buttons {
  display: grid;
  margin-top: 25px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}
.submit-button {
  --background: #ccffff;
  color: #293838;
  --border-color: none; --border-width: 0px !important;
}
.delete-restaurant-list-button {
  --background: #ff4961;
  --border-color: none; --border-width: 0px !important;
  width: 100%;
}
// End: Other //

