<ion-header>
  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel">
    //todo
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let restaurant of restaurantsList">
    <ion-item href detail class="item-custom-style">
      <ion-thumbnail class="ion-margin-end thumbnail">
        <ion-img src="{{restaurant.thumbnailURL}}"></ion-img>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h1>
          <ion-icon name="restaurant-outline"></ion-icon>
          {{restaurant.restaurantName}}
        </h1>
        <h4>
          <ion-icon name="star-half-outline"></ion-icon>
          Ranking: {{restaurant.ranking}}/5
        </h4>
        <h4>
          <ion-icon name="earth-outline"></ion-icon>
          Cuisine: {{restaurant.cuisine}}
        </h4>
        <p>
          <ion-icon name="pin-outline"></ion-icon>
          {{restaurant.address}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
