<ion-header [translucent]="true">
    <ion-toolbar>
    <ion-title class="app-title">🍽 Resto'collab</ion-title>
      <p style="text-align: center; color: grey">Where passion for food meets collaboration!</p>
    <ion-toolbar>
      <ion-icon name="notifications" slot="end"></ion-icon>
      <ion-badge class="notifications-badge" color="danger">2</ion-badge>
      <ion-icon name="color-filter-outline" slot="end"></ion-icon>
      <img slot="end" src="./assets/images/user/user-profile-picture.png" class="user-avatar"/>
    </ion-toolbar>
    <ion-searchbar
      placeholder="Search"
      [(ngModel)]="filterRestaurantName"
      showClearButton="focus"
      animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let restaurant of restaurantsList | filter: filterRestaurantName">
    <!-- todo: pass the link to the restaurant here via service,
         it would look something like this: href="restaurant-details/{{restaurant.name}}"-->
    <ion-item href="" detail class="item-custom-style">
      <ion-thumbnail class="ion-margin-end thumbnail">
        <ion-img src="{{restaurant.thumbnailURL}}"></ion-img>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h1>
          <ion-icon name="restaurant-outline"></ion-icon>
          {{restaurant.restaurantName}}
        </h1>
        <h4>
          <ion-icon name="star-half-outline"></ion-icon>
          Ranking: {{restaurant.ranking}}/5
        </h4>
        <h4>
          <ion-icon name="earth-outline"></ion-icon>
          Cuisine: {{restaurant.cuisine}}
        </h4>
        <p>
          <ion-icon name="pin-outline"></ion-icon>
          {{restaurant.address}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
