<ion-header>
  <p>Searchbar here...</p>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item href detail class="item-custom-style">
      <ion-thumbnail class="ion-margin-end thumbnail">
        <ion-img src="../../assets/images/home/restaurant-la-ferme-a-dede.png"></ion-img>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h1>
          <ion-icon name="restaurant-outline"></ion-icon>
          La Ferme à Dédé
        </h1>
        <h4>
          <ion-icon name="star-half-outline"></ion-icon>
          Ranking: 4/5
        </h4>
        <h4>
          <ion-icon name="earth-outline"></ion-icon>
          Cuisine: 🇫🇷
        </h4>
        <p>
          <ion-icon name="pin-outline"></ion-icon>
          24 Rue Barnave, 38000 Grenoble
        </p>
      </ion-label>
    </ion-item>

    <ion-item href detail class="item-custom-style">
      <ion-thumbnail class="ion-margin-end thumbnail">
        <ion-img src="../../assets/images/home/restaurant-au-liban.png"></ion-img>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h1>
          <ion-icon name="restaurant-outline"></ion-icon>
          Au Liban
        </h1>
        <h4>
          <ion-icon name="star-half-outline"></ion-icon>
          Ranking: 4/5
        </h4>
        <h4>
          <ion-icon name="earth-outline"></ion-icon>
          Cuisine: 🇱🇧
        </h4>
        <p>
          <ion-icon name="pin-outline"></ion-icon>
          16 Pl. Sainte-Claire, 38000 Grenoble
        </p>
      </ion-label>
    </ion-item>

    <ion-item href detail class="item-custom-style">
      <ion-thumbnail class="ion-margin-end thumbnail">
        <ion-img src="../../assets/images/home/restaurant-au-liban.png"></ion-img>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h1>
          <ion-icon name="restaurant-outline"></ion-icon>
          Comptoire d'Italie
        </h1>
        <h4>
          <ion-icon name="star-half-outline"></ion-icon>
          Ranking: 4/5
        </h4>
        <h4>
          <ion-icon name="earth-outline"></ion-icon>
          Cuisine: 🇮🇹
        </h4>
        <p>
          <ion-icon name="pin-outline"></ion-icon>
          4 Pl. de Gordes, 38000 Grenoble
        </p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
