<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="isOwner" fill="clear" color="primary" slot="end" (click)="deleteRestaurantList()"><ion-icon name="trash-outline"></ion-icon></ion-button>
      <ion-button *ngIf="canModify" fill="clear" color="primary" slot="end" (click)="goToModifyRestaurantList()"><ion-icon name="create-outline"></ion-icon></ion-button>
      <ion-button fill="clear" color="primary" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="color-filter-outline" />
      {{ this.restaurantsList.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="this.restaurantsList">
    <ion-item>
      <ion-list>
        <ion-item>
          <h3>{{this.restaurantsList.name}}</h3>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>Date of creation</ion-label>
          {{ this.restaurantsList.dateOfCreation.toDate() | date: 'yyyy-MM-dd' }}
        </ion-item>

        <ion-item *ngIf="collaborators$ | async">
          <ion-icon name="people-circle-outline"></ion-icon>
          <ion-grid>
            <ion-row>
          <ion-label>Collaborators</ion-label>
            </ion-row>
            <ion-row>
              <ion-label *ngFor="let collaborator of collaborators$ | async" class="collaborator">
                User: {{collaborator.username}}
                  • Permission: {{ getPermission(collaborator) }}

              </ion-label>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-icon name="fast-food-outline"></ion-icon>
          <ion-label>Restaurants</ion-label>
        </ion-item>
        <ion-list *ngFor="let restaurant of restaurants$ | async">
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h4>
                    <ion-icon name="restaurant-outline"></ion-icon>
                    {{restaurant.name}}
                  </h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="100%">
                  <ion-thumbnail class="ion-margin-end thumbnail">
                    <ion-img src="{{restaurant.imageURL}}"/>
                  </ion-thumbnail>
                </ion-col>
                <ion-col>
                  <ion-label>
                    <ion-grid>
                      <ion-row>
                        <h4>
                          <ion-icon name="star-half-outline"></ion-icon>
                          Ranking: {{restaurant.ranking}}/5
                        </h4>
                      </ion-row>
                      <ion-row>
                        <h4>
                          <ion-icon name="earth-outline"></ion-icon>
                          Cuisine: {{restaurant.cuisine}}
                        </h4>
                      </ion-row>
                      <ion-row>
                        <p>
                          <ion-icon name="pin-outline"></ion-icon>
                          {{restaurant.address}}
                        </p>
                      </ion-row>
                    </ion-grid>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-list>
    </ion-item>
  </ion-card>
</ion-content>
