<ion-content>
  <div class="center-within-page">
  <ion-card>
  <ion-card-header>
    <ion-card-title>🍽 Resto'collab</ion-card-title>
  <ion-card-subtitle>
    Where passion for food meets collaboration!
  </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div class="errorMessageContainer" *ngIf="errorMessage">

    </div>

    <form class="wrapform" [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <!-- Todo: Bind with Firebase/Auth !-->
        <ion-input formControlName="email" type="text" name="email" required="true" placeholder="Email"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="errorControl['email'].touched && errorControl['email'].errors?.['required'] || isSubmitted && errorControl['email'].errors?.['required']">
      <span>
        This field is required.
      </span>
      </ion-text>
      <ion-text color="danger" *ngIf="errorControl['email'].touched && errorControl['email'].errors?.['pattern']">
      <span>
        Please, make sure you typed a valid email address.
      </span>
      </ion-text>
      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <!-- Todo: Bind with Firebase/Auth !-->
        <ion-input formControlName="password" type="password" name="password" required="true" placeholder="Password"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="errorControl['password'].touched && errorControl['password'].errors?.['required'] || isSubmitted && errorControl['email'].errors?.['required']">
      <span>
        This field is required.
      </span>
      </ion-text>

    <div class="forgot-password">
      <ion-button fill="clear" class="ion-no-padding" (click)="forgotPassword()">Forgot password?</ion-button>
    </div>
    <div class="buttons">
      <ion-button fill="solid" shape="round" class="login-button" type="submit">Login</ion-button>
      <div class="text-tag">
      <span>
        Don't have an account?
      </span>
      </div>
      <ion-button fill="outline" shape="round" class="signup-button" (click)="navToSignUp()">Signup</ion-button>
    </div>
    </form>

    <div class="text-tag">
      <span>
        or Authenticate via Social Media
      </span>
    </div>

    <div class="social-buttons">
      <ion-button fill="clear" class="login-button ion-no-padding"><ion-img src="assets/icon/icon-facebook.png"></ion-img></ion-button>
      <ion-button fill="clear"
                  class="login-button ion-no-padding"
                  (click)="signInWithGoogle()">
        <ion-img src="assets/icon/icon-google.png"/>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
  </div>
</ion-content>
