// Ion-related //
ion-content {
  --background: #363636 url("../../../assets/images/app-background.png") no-repeat center center / cover;
}

ion-card {
  background-color: #1e1e1e!important;
}

ion-footer {
  text-align: center;
  color: #fff;
  font-weight: bold;
}
// End: Ion-related //

// Other //
h3 {
  padding: 5px 0px 0px 20px;
  color: #fff;
}
// End: Other //
