<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{post.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button type="submit" (click)="submitPostEdition()">Valider</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="postForm" (ngSubmit)="submitPostEdition()">
    <ion-item>
      <ion-label for="name">Name: </ion-label>
      <ion-input id="name" type="text" [ngModel]="post.name" formControlName="name"/>
      </ion-item>
      <ion-item>
      <ion-label for="description">Description: </ion-label>
      <ion-input id="description" type="text" [ngModel]="post.description" formControlName="description"/>
    </ion-item>
  </form>
</ion-content>