<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="end" name="close-outline"/>
      </ion-button>
    </ion-buttons>
    <ion-title>Nouveau Topic</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">
        <ion-icon slot="start" name="checkmark-outline"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="topicForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nom du topic</ion-label>
      <ion-input type="text" autofocus placeholder="Nom du topic" formControlName="name"></ion-input>
    </ion-item>
  </form>
</ion-content>