<app-header></app-header>
<ion-content>
  <ion-card>
    <img *ngIf="user.imageUrl" src="{{user.imageUrl}}" referrerpolicy="no-referrer" class="user-profile-picture"/>
    <img *ngIf="!user.imageUrl" src="https://raw.githubusercontent.com/m2gi-behraf/restocollab-projet-mobile-m2gia/main/topicApp/src/assets/images/user/user-profile-picture.jpg" referrerpolicy="no-referrer" class="user-profile-picture"/>
    <h3>Profile Details</h3>
    <ion-list>
      <ion-item>
        <ion-icon name="qr-code-outline"></ion-icon>
        <ion-label>Username</ion-label>
        <ion-label>{{user.username}}</ion-label>
      </ion-item>
      <ion-item *ngIf="signInByEmail(user)">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>First Name</ion-label>
        <ion-label>{{user.firstname}}</ion-label>
      </ion-item>
      <ion-item *ngIf="signInByEmail(user)">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Last Name</ion-label>
        <ion-label>{{user.lastname}}</ion-label>
      </ion-item>
      <ion-item *ngIf="signInByEmail(user)">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Birthday</ion-label>
        <ion-label>{{user.dateOfBirth.toDate() | date:'dd/MM/yyyy'}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <h3>Friends List</h3>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-row>
                <img src="https://raw.githubusercontent.com/m2gi-behraf/restocollab-projet-mobile-m2gia/main/topicApp/src/assets/images/user-friends/friend-fabien.jpg" class="friends-avatar"/>
              </ion-row>
              <ion-row>
                <p class="friend-name">Fabien</p>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row>
                <img src="https://raw.githubusercontent.com/m2gi-behraf/restocollab-projet-mobile-m2gia/main/topicApp/src/assets/images/user-friends/friend-james.jpg" class="friends-avatar"/>
              </ion-row>
              <ion-row>
                <p class="friend-name">James</p>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row>
                <img src="https://raw.githubusercontent.com/m2gi-behraf/restocollab-projet-mobile-m2gia/main/topicApp/src/assets/images/user-friends/friend-georges.jpg" class="friends-avatar"/>
              </ion-row>
              <ion-row>
                <p class="friend-name">Georges</p>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row>
                <img src="https://raw.githubusercontent.com/m2gi-behraf/restocollab-projet-mobile-m2gia/main/topicApp/src/assets/images/user-friends/friend-marina.jpg" class="friends-avatar"/>
              </ion-row>
              <ion-row>
                <p class="friend-name">Marina</p>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row>
                <img src="https://raw.githubusercontent.com/m2gi-behraf/restocollab-projet-mobile-m2gia/main/topicApp/src/assets/images/user-friends/friend-lana.jpg" class="friends-avatar"/>
              </ion-row>
              <ion-row>
                <p class="friend-name">Lana</p>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row>
                <img src="https://raw.githubusercontent.com/m2gi-behraf/restocollab-projet-mobile-m2gia/main/topicApp/src/assets/images/user-friends/friend-eoin.jpg" class="friends-avatar"/>
              </ion-row>
              <ion-row>
                <p class="friend-name">Eoin</p>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row>
                <img src="https://raw.githubusercontent.com/m2gi-behraf/restocollab-projet-mobile-m2gia/main/topicApp/src/assets/images/user-friends/friend-laura.jpg" class="friends-avatar"/>
              </ion-row>
              <ion-row>
                <p class="friend-name">Laura</p>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </ion-card>

  <ion-card>
    <h3>Account Actions</h3>
    <ion-list>
      <ion-item>
        <ion-button fill="solid" shape="round" class="logout-button" (click)="logout()">Logout</ion-button>
      </ion-item>
      <ion-item>
        <ion-button fill="solid" color="danger" shape="round" class="delete-account-button" (click)="deleteAccount()">Delete account</ion-button>
      </ion-item>
    </ion-list>

  </ion-card>
</ion-content>
