<form [formGroup]="forgotPwdForm" (ngSubmit)="submitForm()" novalidate>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="clear" color="primary" (click)="dismissModal(null, 'canceled')">Close</ion-button>
      </ion-buttons>
      <ion-title>Modal Content</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input formControlName="email" type="text" name="email" required="true" placeholder="Email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="controls['email'].touched && controls['email'].errors?.['required'] || isSubmitted && controls['email'].errors?.['required']">
            <span>
              This field is required.
            </span>
    </ion-text>
    <ion-text color="danger" *ngIf="controls['email'].touched && controls['email'].errors?.['pattern']">
            <span>
              Please, make sure you typed a valid email address.
            </span>
    </ion-text>
    <div class="buttons">
      <ion-button fill="outline" shape="round" class="forgot-button" type="submit">Reset password</ion-button>
    </div>
  </ion-content>
</form>
