<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
      <ion-button fill="clear" color="primary"
                  (click)="shareRestaurant()"><ion-icon name="share-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="primary" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="fast-food-outline"></ion-icon>
      {{restaurant.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>{{restaurant.name}}</ion-card-title>
    <ion-item>
      <img src="{{restaurant.imageURL}}" class="restaurant-image"></ion-item>
    <ion-list>
      <ion-item>
        <ion-icon name="star-half-outline"></ion-icon>
        Ranking: {{restaurant.ranking}}/5
      </ion-item>
      <ion-item>
        <ion-icon name="earth-outline"></ion-icon>
        Cuisine: {{restaurant.cuisine}}
      </ion-item>
      <ion-item>
        <ion-icon name="pin-outline"></ion-icon>
        {{restaurant.address}}
      </ion-item>
      <ion-item>
        <ion-icon name="book-outline"></ion-icon>
        <ion-label class="ion-text-wrap">
          {{restaurant.description}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
